@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";
@theme {
  --color-midnight-green: #00302f;
  --color-midnight-green-darker: #001f1e;
  --color-goldenrod: #e3a225;
  --color-dark-goldenrod: #966811;
  --color-sepia: #633d00;
  --color-medium-aquamarine: #5fe4c1;
  --color-dark-slate-gray: #185656;
  --font-display: "Pixelify Sans", sans-serif;
}

* {
  font-family: var(--font-display);
  font-weight: bolder;
}

* {
  text-transform: uppercase;
}

.input-case {
  text-transform: none !important;
}

/* Don't transform form elements */

/* Change autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0d3b3b inset !important; /* Match your desired background color */
  -webkit-text-fill-color: #d4a017 !important; /* Match your desired text color */
  transition: background-color 5000s ease-in-out 0s; /* Make the background persistent */
  caret-color: #d4a017; /* Cursor color */
}

button {
  cursor: pointer;
}
